{% extends 'base.html.twig' %}
{% block body %}
<h1>{{ title }}</h1>

<p>Valeur recherché: {{ searchValue }}</p>
<p>Methode HTTP utilisée: {{method}}</p>

{% if title == 'test 3' %}
<p>C'est le bon titre</p>
{% else %}
<p>ce n'est pas le bon titre</p>
{% endif %}

<h2>{{students|length }} étudiants</h2>

<ul>
{% for student in students %}
    <li>{{student}}</li>
{% endfor %}
</ul>
{% endblock %}